.basket {
    // positioning
    
    // box model
    @include atDesktop {
        // box model
        height: 20px;
        width: 20px;
        margin-right: 75px; 
    }
    
    // flex: 1;

    &__text {
        // box model
        display: none;
    }
}