.button {
    // box model
    padding: 25px 50px;
    display: block;
    margin: 50px auto;

    // typography
    text-align: center;
    font-size: 1.5rem;

    // typography
    text-decoration: none;
    
    // visual
    background-color: white;
    border: 1px solid $date;
    color: #a5a5a5;

    &--inverse {
        // box model
        display: block;
        margin: 10px 0;
        padding: 10px 10px;
        
        // visual
        color: white;
        background-color: $accent;
    }

    &__wrapper {
        text-align: center;
    }

    &--noblock {
        // box model
        display: inline;
    }

    &__load {
        // box model

        @include atTabletsPortrait {
        // box model
            width: 10%;
        }
    }
}