.button {
    // box model
    padding: 25px 50px;
    
    text-align: center;
    // margin: 0 auto;
    // display: inline-block;

    // typography
    text-decoration: none;
    
    // visual
    background-color: white;
    border: 1px solid $date;
    color: #a5a5a5;

    &--inverse {
        color: white;
        background-color: $accent;
        // border: none;
        margin: 10px 0;
        display: block;
    }

    &__wrapper {
        // margin: 0 auto;
        // display: block;
        // width: 100%;
        text-align: center;
    }
}