.features {
    // box model
    text-align: left;

    &--footer {
        // box model
        display: flex;
        flex-direction: column;

    }
    &__block {
        // box model
        

        // visual
        background-color: $accent;
        opacity: 0.9;

        &--header {
            // positioining

            @include atDesktop {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex: 1;
            }
        }
    }

    &__container {
        // box model
        padding: 0px 25px;

        // visual
    }

    &__title {
        // box model
        display: block;
        width: 150px;
        padding: 15px 0;
        // typography
        font-family: $mainFont;
        font-size: 3rem;

        // visual
        color: white;
        border-bottom: 3px solid #fff;
    }
    
    &__text {
        // box model

        // typography
        font-family: $KarlaRegular;
        line-height: 2rem;
        font-size: 1rem;
        //visual
        color: white;

    }

    &__bg {
        // positioning
        position: relative;

        // box model
        height: 500px;
        width: 100%;
        // order: 1;

        // visual
        background-image: url('./img/Dylan-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% 100%;

        img {
            // positioning 
            position: absolute;
            top: 0;
            left: 0;
            // box model
            width: 50px;
            height: 50px;
        }

        &--top {
            // box model
            display: none;
        }
    }

    &__button {
        // typography
        font-family: $KarlaRegular;
        // visual
        color: white;
        text-decoration: none;
    }
    
    &__date {

        // typography
        font-family: $KarlaRegular;

        // visual
        color: white;
    }
    &__nav {
        // box model
        margin-top: auto;
        // padding: 70px 20px;

        // visual
        background-color: white;
        box-shadow: 0px -1px 5px 0px rgba(0,0,0,1);

        &-prev {
            width: 50%;
            display: inline-block;
        }
        &-next {
           width: 50%;
           display: inline-block;
            
        }
    }

}