.main-menu {
    display: none;
    
    @include atDesktop {
        // box model
        display: flex;
    }
    

    &--footer {
        // box model
        display: flex;
        justify-content: center;

        // visual
        border: 1px solid #404040;
        border-bottom: none;

        @include atTabletsLandscape {
            flex: 2;
            
        }
    }

    &__list {
        // box model
        padding-left: 0;
        list-style-type: none;
        text-align: left; 
        margin: auto;
        
    }
    &__item {
        // box model
        padding: 10px 0;

        @include atTabletsLandscape {
            // box model
            display: inline-block;
            padding: 10px 10px;
        }
    }

    &__link {
        // box model
        
        // typography
        font-family: $KarlaRegular;
        // font-sizs
        // visual
        text-decoration: none;
        color: $date;
    }
}
