.person {
    // box model
    width: 100%;
    // visual
    background-color: $accent;
    width: 100%;
    padding: 50px 0;

    &__container {
        // width: 100%;
        padding: 0 30px;

        @include atDesktop {
            padding: 100px 150px;
        }
    }
    &__bg {
        background-image: url('./img/person-s.jpg');
        background-size: cover;
        height: 300px;
        border: 2px solid #ececec;
        padding: 5px 5px;

        @include atTabletsPortrait {
            // box model
             width: 60%;
            height: 200px;
        }

        @include atDesktop {
            // box model
            height: 500px;
            background-image: url('./img/person-l.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__info {
       // box model
       

       @include atTabletsPortrait {
            // box model
        padding: 25px 70px;
       }
    }

    &__desc {

            @include atDesktop {
                // box model
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
            }
        }

    &__list {
        // box model
        margin: 30px 0;
        padding-left: 0; 
        text-align: left;

        // visual
        list-style: none;
    }

    &__item {
        // box model
        padding: 20px 0;
        // typography
    
        // visual
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: $mainFont;
        font-weight: 300;
        // letter-spacing: 0.1rem;        
    }
}