.sign {
    // box model
    padding: 20px 50px;
    height: 100px;

    @include atTabletsLandscape {
        padding: 10px 50px;
        border: 1px solid #404040;
    }

    img {
        // box model
        width: 100%;
        height: 100%;
    }
}