// colors

$Suptitle: #707070;
$accent: #1f1f1f;
$date: #7f7f7f;
$footer: #2c2c2c;

// fonts
$KarlaBold: "Karla Bold",sans-serif;
$KarlaRegular: "Karla Regular", sans-serif;
$mainFont: "Myriad Pro Regular", sans-serif;
